.users {
  display: flex;
  align-items: center;
  gap: 2rem;
  place-content: center;
  min-height: 100vh;
}

.user {
  padding: 10px;
  border: 1px solid black;
  font-size: 18px;
  width: 400px;
}

.users-form {
  margin-bottom: 20px;
}
